body{
    padding: 0;
    margin: 0;
}
header{
    text-align: center;
}
.maingameWidow{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.clickUI{
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.upgrade{
    width: 60%;
}
.clickUI button{
    border: none;
    background-color: rgba(141, 255, 255, 0.952);
    border-radius: 100%;
    width: 300px;
    height: 300px;
}
.clickUI button:hover{
    background-color: rgba(141, 255, 228, 0.952);
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upgrademenu{
    background-color: azure;
    border: 1px solid;
    border-radius: 60px 50px 50px 60px;
    margin: 1px;
    display: flex;
}
.upgrademenu a{
    padding: 2%;
    display: block;
    border-left: 1px solid;
    text-align: center;
}
.buttons{
    margin: 1% ;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.buttons button{
    margin-right: 15px;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: none;
    background-color: darkkhaki;
    color: rgb(42, 11, 78);
}
.buttons button:hover{
    background-color: #454326;
    color: aliceblue;
}