body{
    padding: 0;
    margin: 0;
    user-select: none;
}
header{
    text-align: center;
    padding: 0.5% 0 1% 0;
}
main{
    position: relative;
}
.maingameWidow{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.clickUI{
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.upgrade{
    width: 60%;
}
.clickUI button{
    border: none;
    background-color: rgba(59, 202, 202, 0.952);
    border-radius: 100%;
    width: 400px;
    height: 400px;
    transition: all 0.2s ease-in-out;
    font-size: 20px;
}
.clickUI button:hover{
    background-color: rgba(100, 232, 232, 0.952);
    width: 440px;
    height: 440px;
    transition: all 0.2s ease-in-out;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    margin-top: 5%;
    border: 10px ridge rgb(255, 187, 61);
    border-radius: 2px;
    width: 30%;
}
.autoinfo{
    padding: 5%;
}
.NOWinfo{
    padding: 5%;
}
.autoinfo a{
    text-decoration: underline;
}
.upgrademenu{
    background-color: azure;
    border: 1px solid;
    border-radius: 60px 50px 50px 60px;
    margin: 1px;
    display: flex;
    justify-content: space-between;
}
.upgrademenu a{
    margin: 0;
    padding: 2%;
}
.txt2{
    width: 25%;
    border-left: thick double black;   
}
.txt1{
    width: 50%;
    border-left: 1px solid;
    text-align: left;
}
.buttons{
    margin: 1% ;
    display: flex;
    flex-direction: column;
}
.upgrades{
    width: 110px;
    height: 110px;
    border-radius: 100%;
    border: none;
    background-color: rgb(221, 183, 95);
    color: rgb(42, 11, 78);
    transition: all 0.2s ease;
}
.upgrades:hover{
    background-color: rgb(131, 109, 56);
    color: aliceblue;
    transition: all 0.2s ease;
}
.upgrades:disabled{
    background: rgba(170, 170, 170, 0.641);
    color: rgb(0, 0, 0);
    cursor: not-allowed;
}
.clear{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
#progress-box{
    width: 100%;
    background-color: rgb(234, 234, 234);
    border: 1px solid;
    height: 15px;
    border-radius: 10px;
    overflow: hidden;
}
#progress-bar{
    width: 0%;
    height: 100%;
    background-color: rgb(112, 176, 216);
    transition: width 0.3s ease;
}
#game-clear-popup{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.popup-content{
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    justify-content: center;
    align-items: center;
    padding: 0px 60px 60px 60px;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    border: 5px ridge rgb(110, 219, 255);
    box-shadow: 5px;
}
.popup-content button{
    justify-content: center;
    background-color: gainsboro;
    border: 1px solid;
    width: 50%;
    transition: all 0.5s ease-in-out;
}
.popup-content button:hover{
    background-color: rgb(196, 255, 164);
    border: 1px double;
    width: 100%;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}
#game-setsumei-popup{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.setsumei_h1{
    border-bottom: 1px solid black;
    width: 100%;
}
.popup-content select{
    border: 1px solid;
    width: 50%;
    text-align: center;
    font-size: large;
}
#game-setsumei-popup button:hover{
    background-color: rgb(250, 144, 144);
    border: 1px double;
    width: 100%;
    transition: all 0.3s ease-in-out;
}
#version{
    display: flex;
    justify-content: right;
    text-align: center;
}